* {
  margin: 0;
  font-family: cursive;
}

body {
  height: 100%;
  width: 100%;
}


nav a:hover {
  background-color: fuchsia;
}


.toggle {
  margin: 20px 20px;
  max-height: 100%;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  transition: 0.5s;
}

.toggle:hover {
  background-color: gray;
}


/* Login */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.active {
  background: yellowgreen;
}

.form-registration input {
  border-radius: 0;
  margin-bottom: 1px;
}